# Template of the secret file for this bot - Required.
#
# Instructions:
# 1- Create a copy of this file named '.env' (remove the '.template').
# 2- Fill the variable with the approriate info.
# 3- Make sure this file is never pushed to any public repository or shared with anyone.
#
# 'DEV' variable are only used when '--debug' is passed through the arguments on launch.
# They are optional, intended for local and development purposes.

# MANDATORY (!!! Very sensitive !!!) - Used for the bot to be used in Discord.
TOKEN=""
TOKEN_DEV=""
