<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="levelColor" class="logbackc.CustomLevelColor"/>
    <conversionRule conversionWord="messageColor" class="logbackc.CustomMessageColor"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%gray([%d{dd-MM-yyyy HH:mm:ss.SSS}]) %levelColor([%.-1level]) %green([%thread]) %magenta([%logger{0}]) %messageColor(%msg%n)</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/latest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/%d{dd-MM-yyyy}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{dd-MM-yyyy HH:mm:ss.SSS}] [%.-1level] [%thread] [%logger{0}] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate" level="info" />
        
    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>