name: Build Bot
on: [push, pull_request, workflow_dispatch]

jobs:
  buildBot:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: 17
        distribution: temurin

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Build Bot Jar
      run: |
        chmod +x ./gradlew
        ./gradlew shadowJar
        
    - name: Upload built jar file
      uses: actions/upload-artifact@v5
      with:
        name: ${{ github.event.repository.name }}
        path: build/libs/${{ github.event.repository.name }}Bot.jar
