name: Build Bot
on: [push, pull_request, workflow_dispatch]

jobs:
  buildBot:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: 17
        distribution: temurin
        cache: gradle

    - name: Build bot jar
      run: |
        chmod +x ./gradlew --configuration-cache
        ./gradlew shadowJar
        
    - name: Upload built jar file
      uses: actions/upload-artifact@v4
      with:
        name: ${{ github.event.repository.name }}
        path: build/libs/${{ github.event.repository.name }}Bot.jar
